body{
    font-size: 30px;
}

#fixed{
    position: fixed;
    top:0;
    left:0;
    background-color: #ccc;
}

.wrapper{
    width: 600px;
    padding: 20px;
    margin: 0 auto;
    margin-top: 20px;
}

#relative{
    margin-top: 100px;
    position: relative;
    background: blue;
    height: 200px;
    text-align: center;
}

#absolute{
    position: absolute;
    height: 110px;
    width: 200px;
    background-color: red;
    right: 0px;
    bottom: 0px;
}